.header {
    background-color: black;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    .wrapper {
        @include flex;
        color: $color-grey;
    }
    &__title {
        display: flex;
        align-items: center;
        &::before {
            content: url('../../../assets/main/Component1.png');
            margin-right: 3rem;

        }
    }
    &__nav {
        margin: auto 0rem;
        .nav__list {
            @include flex;
            list-style-type: none;
        }
    }
}
.nav-list__item {
    a {
        text-decoration-line: none;
        color: $color-grey;
        padding: 0rem 2rem;

        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
    }
}
