.header {
    padding: 1rem 0rem 0.5rem;
    background-color: black;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

    .wrapper {
        @include flex;
    }
    &__title {
        display: flex;
        align-items: center;
        color: $color-grey;
        letter-spacing: 0.38rem;
        &::before {
            content: url('../../../assets/main/Component1.png');
            margin-right: 0.8rem;
        }
    }
    &__nav {
        .nav__list {
            @include flex;
            gap: 4.5rem;
            padding-left: 3rem;
            list-style-type: none;
        }
    }
}

.nav-list__item {
    * {
        //padding: 0rem 2rem;
        text-decoration-line: none;
        color: $color-grey;
        text-align: left;
        &:hover {
            color: rgba(152, 232, 247, 0.952);
        }
    }
}

.auth {
    text-align: center;

    &__login {
        margin-right: 4rem;
        text-decoration: none;
        color: #FFFFFF;
    }
    &__submit {
        border: 0rem;
        padding: 2rem 4rem;
    }
}

